/* ******************** */
/* md: 768px <= width */
/* ******************** */
@media screen and (min-width: 768px) {
	.md_hidden{
		display: none;
	}

	.md_block{
		display: block;
	}
	.md_grid{
		display: grid;
	}

	.md_justify-center{
		justify-content: center;
	}

	.md_py-10{
		padding: 10px 0px;
	}

	.md_py-20{
		padding: 20px 0px;
	}

	.md_w-120{
		width: 120px;
	}

	.md_w-300{
		width: 300px;
	}

	.md_w-350{
		width: 350px;
	}

	.md_w-400{
		width: 400px;
	}

	.md_w-500{
		width: 500px;
	}

	.md_w-600{
		width: 600px;
	}

	.md_w-700{
		width: 700px;
	}

	.md_left-120{
		left: 120px;
	}

	.md_w-full{
		width: 100%;
	}

	.md_h-800{
		height: 800px;
	}

	.md_h-full{
		height: 100%;
	}

	.md_text-14{
		font-size: 16px;
	}

	.md_text-18{
		font-size: 18px;
	}

	.md_text-20{
		font-size: 20px;
	}

	.md_grid_gap-y-20{
		grid-gap: 20px;
	}

	.md_h-400{
		height: 400px;
	}

	.md_bg-hero{
		background-image: url("./img/hero01_bg01.png");
		background-repeat:no-repeat; 
		background-size: 100%;
	}

	.md_bg-user{
		background-image: url("./img/frame.png");
		background-repeat:no-repeat; 
		background-size: 400px 100%;
	}

	.md_bg-uservoice{
		background-image: url("./img/uservoice_bg.png");
		background-size: cover;
	}

}	