/* ******************** */
/* lg: 1024px <= width */
/* ******************** */
@media screen and (min-width: 1024px) {
	body{
		font-size: 16px;
	}

	.lg_hidden{
		display: none;
	}

	.lg_block{
		display: block;
	}

	.lg_flex{
		display: flex;
	}

	.lg_flex-wrap{
		flex-wrap: wrap
	}
	.lg_flex_space-evenly{
		justify-content: space-evenly
	}
	  
	.lg_grid{
		display: grid;
	}

	.lg_justify-center{
		justify-content: center;
	}

	.lg_align-center{
		align-items: center;
	}	

	.lg_rerative{
		position: relative;
	}
	.lg_mx_auto{
		margin: 0px auto !important;
	}

	.lg_text-16{
		font-size: 16px;
	}

	.lg_text-18{
		font-size: 18px;
	}

	.lg_text-20{
		font-size: 20px;
	}

	.lg_text-22{
		font-size: 22px;
	}	

	.lg_text-24{
		font-size: 24px;
	}

	.lg_text-32{
		font-size: 32px;
	}

	.lg_text-44{
		font-size: 44px;
	}

	.lg_top-170{
		top: 170px;
	}

	.lg_top-180{
		top: 180px;
	}

	.lg_top-200{
		top: 200px;
	}

	.lg_top-290{
		top: 290px;
	}

	.lg_top-300{
		top: 300px;
	}
	
	.lg_top-350{
		top: 350px;
	}

	.lg_top-400{
		top: 400px;
	}

	.lg_left-50{
		left: 50px;
	}

	.lg_left-70{
		left: 70px;
	}

	.lg_left-90{
		left: 90px;
	}	
	.lg_left-120{
		left: 120px;
	}

	.lg_left-280{
		left: 280px;
	}

	.lg_left-300{
		left: 300px;
	}

	.lg_left-320{
		left: 320px;
	}

	.lg_left-330{
		left: 330px;
	}
	.lg_left-350{
		left: 350px;
	}
	.lg-w-90p{
		width: 90%;
	}

	.lg_w-20{
		width: 20px;
	}

	.lg_w-70{
		width: 70px;
	}

	.lg_w-90{
		width: 90px;
	}	

	.lg_w-110{
		width: 110px;
	}	

	.lg_w-120{
		width: 120px;
	}

	.lg_w-150{
		width: 150px;
	}

	.lg_w-200{
		width: 200px;
	}

	.lg_w-350{
		width: 350px;
	}

	.lg_w-450{
		width: 450px;
	}

	.lg_w-700{
		width: 700px;
	}

	.lg_w-800{
		width: 800px;
	}

	.lg_w-1000{
		width: 1000px;
	}

	.lg_h-250{
		height: 250px;
	}

	.lg_h-550{
		height: 550px;
	}
	.lg_gap-x-50{
		gap:0 50px;
	}

	.lg_gap-x-20{
		gap:0 20px;
	}

	.lg_grid-row-50p{
		grid-row: 1/2;
	}

	.lg_ml-0{
		margin-left: 0px;
	}
	.lg_mx-100{
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.lg_px-20{
		padding-left: 20px;
		padding-right: 20px;
	}

	.lg_px-30{
		padding-left: 30px;
		padding-right: 30px;
	}
	.lg_px-40{
		padding-left: 40px;
		padding-right: 40px;
	}

	.lg_pl-100{
		padding-left: 100px;
	}

	.lg_py-30{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.lg_py-5{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.lg_py-10{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.lg_pd-50{
		padding-bottom: 50px;
	}

	.lg_text-12{
		font-size: 12px;
	}

	.lg_top-50{
		top:50px;
	}

	.lg_bg-hero02{
		background-image: url("./img/hero02_bg.png");
		background-size: cover;
	}


}